<div class="tablebanner">
<p><%= link_to 'Nouvelle Facture', new_invoice_path, class:  'btn-medium' %>

  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <a type="submit" class="submit btn btn-medium"><i class="fa fa-search" aria-hidden="true"></i></a>
      <input type="text" name="name" class="btn-medium" id="exampleInputAmount" placeholder="Écran Dell" value="">
    </div>
  </div>

  <div class="office">
    <div class="btn-group">
      <a type="button" class="btn btn-medium">Objet</a>
      <a type="button" class="btn btn-medium dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <input type="radio" id="gender-women" name="gender[]" value="women"  >
          <label for="gender-women" action="#" method="get">
          <i aria-hidden= "true" name="black"> Ordinateur</i>
          </label>
        </li>
        <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" >
          <label for="gender-men" action="#" method="get">
          <i aria-hidden= "true" name="black"> Écran</i>
          </label>
        </li>
         <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" >
          <label for="gender-men" action="#" method="get">
          <i aria-hidden= "true" name="black"> Imprimeur</i>
          </label>
        </li>
         <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" >
          <label for="gender-men" action="#" method="get">
          <i aria-hidden= "true" name="black"> Serveur</i>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="office">
    <div class="btn-group">
      <a type="button" class="btn btn-medium">Marque</a>
      <a type="button" class="btn btn-medium dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <input type="radio" id="gender-women" name="gender[]" value="women"  >
          <label for="gender-women" action="#" method="get">
          <i aria-hidden= "true" name="black"> HP</i>
          </label>
        </li>
        <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" >
          <label for="gender-men" action="#" method="get">
          <i aria-hidden= "true" name="black"> Canon</i>
          </label>
        </li>
         <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" >
          <label for="gender-men" action="#" method="get">
          <i aria-hidden= "true" name="black"> Dell</i>
          </label>
        </li>
      </ul>
    </div>
  </div>

    <div class="office">
    <div class="btn-group">
      <a type="button" class="btn btn-medium">Bureau</a>
      <a type="button" class="btn btn-medium dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <input type="radio" id="gender-women" name="gender[]" value="women"  >
          <label for="gender-women" action="#" method="get">
          <i aria-hidden= "true" name="black"> Saint-Tropez</i>
          </label>
        </li>
        <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" >
          <label for="gender-men" action="#" method="get">
          <i aria-hidden= "true" name="black"> Marseille</i>
          </label>
        </li>
         <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" >
          <label for="gender-men" action="#" method="get">
          <i aria-hidden= "true" name="black"> Paris</i>
          </label>
        </li>
         <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" >
          <label for="gender-men" action="#" method="get">
          <i aria-hidden= "true" name="black"> Cogolin</i>
          </label>
        </li>
      </ul>
    </div>
  </div>


  <div class="office">
    <div class="btn-group">
      <a type="button" class="btn btn-medium">Fournisseur</a>
      <a type="button" class="btn btn-medium dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <input type="radio" id="gender-women" name="gender[]" value="women"  >
          <label for="gender-women" action="#" method="get">
          <i aria-hidden= "true" name="black"> Scriba</i>
          </label>
        </li>
        <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" >
          <label for="gender-men" action="#" method="get">
          <i aria-hidden= "true" name="black"> France défi</i>
          </label>
        </li>
         <li>
          <input type="radio" id="gender-men" name="gender[]" value="men" >
          <label for="gender-men" action="#" method="get">
          <i aria-hidden= "true" name="black"> SFR</i>
          </label>
        </li>
      </ul>
    </div>
  </div>
</p>
</div>
