<%= render 'form' %>
<!-- <div class="logbox">
  <form action="/invoices" method="post">
    <label for="name">Nom: </label>
    <input type="text" name="invoice[name]" id="name">

    <label for="office">Bureau: </label>
    <input type="text" name="invoice[office]" id="office">

    <label for="object">Objet: </label>
    <input type="text" name="invoice[object]" id="object">

    <label for="supplier">Fournisseur: </label>
    <input type="text" name="invoice[supplier]" id="supplier">

    <label for="serial">Numéro de série: </label>
    <input type="text" name="invoice[serial]" id="serial">

    <label for="specific_id">Numéro d'identité: </label>
    <input type="text" name="invoice[specific_id]" id="specific_id">

    <label for="emplacement">Poste: </label>
    <input type="text" name="invoice[emplacement]" id="emplacement">

    <label for="value">Valeur d'achat: </label>
    <input type="text" name="invoice[value]" id="value">

    <label for="begin">Début amortisation: </label>
    <input type="text" name="invoice[begin]" id="begin">

    <label for="end">Fin amortisation: </label>
    <input type="text" name="invoice[end]" id="end">


    <input type="submit">
  </form>
</div>
 -->
