<div class="footer">

  <div class="footer-copyright footer-links">
    This App is developed with <i class="fa fa-heart"></i> by <%= link_to 'Mathieu Abeille', 'http://www.mabeille.space' %>
  </div>
</div>
