<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://mathieuabeille.github.io/aca-consult/images/cockpit-09103586.jpg');">
  <div class="banner-content">
    <h1>ACA Consult</h1>

    <% if user_signed_in? %>
      <%= link_to 'Mes factures', invoices_path, class: 'btn btn-medium btn-lg'  %>
    <% else %>
      <%= link_to 'Se connecter', new_user_session_path, class: 'btn btn-medium btn-lg'  %>
      <%= link_to "S'inscrire", new_user_registration_path, class: 'btn btn-medium btn-lg'  %>
    <% end %>
  </div>
</div>
