
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 150%;
}

b{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 150%;

}
h4{
      margin: 0px;
      padding-top: 10px;
      line-height: 30%;
      font-family: 'Open Sans', sans-serif;
    }


i{
    line-height: 30%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }


.head {
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  width: 50%;
  margin: auto;
  text-align: center;
}

.bar {
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  padding-left: 20px;
  padding-top: 5px;

  p {
    padding-top: 5px;
  }

}

.societe{
  padding-left: 20px;
  padding-top: 20px;
}

.representant{
  padding-left: 20px;
  padding-top: 5px;

}

.partie {
  padding-left: 500px;
  font-family: 'Open Sans', sans-serif;
}
